# Strings

### Strings represents the group of character. Strings are enclose in double quotes or single quotes. The str data type represents a String.

### Single,Double, Triple, Double Triple Quotes

In [5]:
str1= 'Nasir'
str2= "Nasir"
str3= "'Nasir'"
str4= """ Nasir"""
print (str1)
print (str2)
print (str3)
print (str4)

Nasir
Nasir
'Nasir'
 Nasir

In [10]:
# Double Quote inside Single Quote
str5 = 'Hello "Nasir" How are you!'
print (str5)

print (" ")

# Single Quote inside Double Quotes
str6 = "Hello 'Nasir' How are you!"
print (str6)

Hello "Nasir" How are you!

Hello 'Nasir' How are you!

### Memory Allocation

In [13]:
str1= 'Nasir'
str2= "Nasir"
str3= "Python"

print ("str1=", id(str1))
print ("str2=", id(str2))
print ("str3=", id (str3))

str1= 2114253125872
str2= 2114253125872
str3= 2114180902128

### Index
#### Index represents the posittion number of characters in a string.

In [17]:
str1= 'Nasir'
print (str1[0])
print (str1[1])
print (str1[2])
print (str1[3])
print (str1[4])

print (" ")

print (str1[-5])
print (str1[-4])
print (str1[-3])
print (str1[-2])
print (str1[-1])

N
a
s
i
r

N
a
s
i
r

### String Length
#### Lenght of string represent the number of characters in a string.

In [20]:
str1= 'Nasir'
n = len (str1)
print (n)

print (" ")
print ("Length of given string is ", n)

5

Length of given string is  5

### Accessing String using Loop

In [29]:
# Using for-loop without index
str1= "Nasir"
for i in str1:
    print (i)

print (" ")

# Using for-loop without index
str2= "Nasir_Ali"
n = len(str2)


for i in range(n):
    print(str2[i])

N
a
s
i
r

N
a
s
i
r
_
A
l
i

In [33]:
# Using while-loop
str1= 'Nasir'
n = len(str1)
#
i=0
while i<n:
    print (str1[i])
    i+=1

N
a
s
i
r

### Mutable & Immutable Object
#### Mutable Object: Mutable object are those object whose vale or content can be changed  when it required.
#### Ex:- List, Set, Dictionaries

#### Immutable Object: Immutable object are those object whose vale or content cannot  be changed .
#### Ex:- Number, String, Tuple

### Repitition Operator 
#### Repitition operator is used to repeat the string for several times. It is denoted by *

In [35]:
str1 = "Nasir "
print (str1 * 5)

Nasir Nasir Nasir Nasir Nasir

In [36]:
str1 = "Nasir "
print (str1[0:2] * 5)

NaNaNaNaNa

### Concatenation Operator
#### Concatenation operator is used to join two string. It is denoted by +

In [37]:
str1="Nasir "
str2="Ali"
print (str1 + str2)

Nasir Ali

In [38]:
str1="Nasir "
str2="Ali"

joint_str = str1 + str2
print (joint_str)

Nasir Ali

### Comparing String
#### Comparing string is used to compare two string. Comparing operator are <,>,<=,>=,==,!=

In [39]:
str1 = "Nasir"
str2 = "Nasir"
result = str1 == str2

print (result)

True

In [40]:
str1 = "Nasir"
str2 = "Nasirs"
result = str1 < str2

print (result)

True

In [41]:
str1 = "Nasir"
str2 = "Nasirs"
result = str1 > str2

print (result)

False

### Fornatting String
#### There are three way to format a string
#### 1. C-Style String Formatting 
#### 2. format () Method
#### 3. f-String/ Formatted String Literals

### String Funtions 
#### 1. upper () : This method is used to convert all character of a string into a uppercase
#### 2. lower ():  This method is used to convert all character of a string into a uppercase 
#### 3. swapcase (): This method is used to convert all lower case character into uppercase and vice versa.
#### 4. title (): This method is used to convert the string in such that each word in string will start with a capital letter and remaining will be small letter. 
#### 5. isupper (): This method is used to test whether given string is in upper case or not, it returns "True" if string contains at least one letter and all characters are in upper case else return "False".
#### 6. islower (): This method is used to test whether given string is in lower case or not, it returns "True" if string contains at least one letter and all characters are in lower case else return "False".
#### 7. istitle (): This method is used to test whether given string is in title format or not, it returns "True" if string contains at least one letter and each word of the string starts with a capital letter else return "False". 
#### 8. isdigit (): This method is used to returns "True" if the string contains only numeric digits (0 to 9) else returns "False".
#### 9. isalpha (): This method is used to returns "True" if the string has at least one character and all are alphabets (A to Z or a to z) else reutrn "False".
#### 10. isalnum (): This method is used to return "True" if the string has at least one character and all characters in the string are alphanumeric (A to Z or a to z and 0 to 9) else returns "False".
#### 11. isspace (): This method is used to return "True" if the string contains only space else returns "False".
#### 12. lstrip (): This method is used to remove the space which are left side of the string.
#### 13. rstrip (): This method is used to remove the space which are right side of the string.
#### 14. strip (): This method is used to remove the space from the both side of the string.
#### 15. replace (): This method is used to replace a sub string in a string with another sub string.
#### 16. split (): This method is used to split/break a string into peices. These pieces returs as a list. 
#### 17. join (): This method is used to join strings into one string.
#### 18. startswith (): This method is used to check whether a string is starting with a substring or not. It returns "True" if the string starts with specified sub string. 
#### 19. endswith (): This method is used to check whether a string is ending with a substring or not. It returns "True" if the string ending with specified sub string.

In [2]:
#upper () fucntion 
name = "Nasir Ali"
print ("Without Upper Function:", name)
print ("With Upper Function:", name.upper())

Without Upper Function: Nasir Ali
With Upper Function: NASIR ALI

In [3]:
#lower () fucntion 
name = "Nasir Ali"
print ("Without Lower Function:", name)
print ("With Lower Function:", name.lower())

Without Lower Function: Nasir Ali
With Lower Function: nasir ali

In [7]:
#swapcase () fucntion 
name = "Nasir Ali"
print ("Without Swap Function:", name)
print ("With Swap Function:", name.swapcase())

Without Swap Function: Nasir Ali
With Swap Function: nASIR aLI

In [8]:
#title () fucntion 
name = "hello! nasir ali"
print ("Without Title Function:", name)
print ("With Tilte Function:", name.title())

Without Title Function: hello! nasir nli
With Tilte Function: Hello! Nasir Nli

In [10]:
#isupper () fucntion 
cap_letter = "NASIR ALI"
small_letter = "nasir ali"
mix_letter = "Nasir Ali"

print ("With isupper Function:", cap_letter.isupper())
print ("With isupper Function:", small_letter.isupper())
print ("With isupper Function:", mix_letter.isupper())

With isupper Function: True
With isupper Function: False
With isupper Function: False

In [11]:
#islower () fucntion 
cap_letter = "NASIR ALI"
small_letter = "nasir ali"
mix_letter = "Nasir Ali"

print ("With isupper Function:", cap_letter.islower())
print ("With isupper Function:", small_letter.islower())
print ("With isupper Function:", mix_letter.islower())

With isupper Function: False
With isupper Function: True
With isupper Function: False

In [12]:
#istitle () fucntion 
cap_letter = "NASIR ALI"
small_letter = "nasir ali"
mix_letter = "Nasir Ali"

print ("With isupper Function:", cap_letter.istitle())
print ("With isupper Function:", small_letter.istitle())
print ("With isupper Function:", mix_letter.istitle())

With isupper Function: False
With isupper Function: False
With isupper Function: True

In [16]:
#isdigit () function
id_card = "3420228767875"
id_card_with_dash = "34202-2876787-5"
mix_num = "Nasir Ali, 3420228767875"
print (id_card.isdigit())
print (id_card_with_dash.isdigit())
print (mix_num.isdigit())

True
False
False

In [20]:
#isalpha () function
name_without_space = "NasirAli"
name_with_space = "Nasir Ali"
mix = "Nasir3420228767875"
print (name_without_space.isalpha())
print (name_with_space.isalpha())
print (mix.isalpha())

True
False
False

In [22]:
#isalnum () function
name = "Nasir"
num = "3420228767875"
mix = "Nasir3420228767875"
print (name.isalnum())
print (num.isalnum())
print (mix.isalnum())

True
True
True

In [30]:
#isspace () function
name_without_space = "NasirAli"
name_with_space = "Nasir Ali"
only_space = " "

print (name_without_space.isspace())
print (name_with_space.isspace())
print (only_space.isspace())

False
False
True

In [32]:
 #lstrip () function
name = "      Nasir"
print ("Without lstrip Function:", name)
print ("With lstrip Function:", name.lstrip())

Without lstrip Function:       Nasir
With lstrip Function: Nasir

In [33]:
 #rstrip () function
name = "Nasir           "
print ("Without lstrip Function:", name)
print ("With lstrip Function:", name.rstrip())

Without lstrip Function: Nasir
With lstrip Function: Nasir

In [35]:
 #strip () function
name = "         Nasir           "
print ("Without lstrip Function:", name)
print ("With lstrip Function:", name.strip())

Without lstrip Function:          Nasir
With lstrip Function: Nasir

In [43]:
#replace () function
name = "Nasir Ali"
old = "Nasir"
new = "Yasir"

replaced_string = name.replace(old, new)
print (replaced_string)

print (" ")

# using another way
str1 = name.replace ("Nasir", "Yasir")
print (name)
print (str1)

Yasir Ali

Nasir Ali
Yasir Ali

In [47]:
#split () function
sentence = "Hello-How-are-you"
str1 = sentence.split('-')
print (str1)

name = "Nasir Ali"
str2 = name.split(" ")
print (str2)

['Hello', 'How', 'are', 'you']
['Nasir', 'Ali']

In [49]:
#join () function
name = ('Hello', 'How', 'Are', 'You')
str1 = '_'.join(name)
print (name)
print (str1)

('Hello', 'How', 'Are', 'You')
Hello_How_Are_You

In [52]:
#startswith () function
name = "Hi How are you."
print (name.startswith('Hi'))

True

In [54]:
#endwith () function
name = "Hi How are you."
print (name.endswith('.'))

True